.card-image {
  object-fit: contain;
  height: 15em;
  padding-top: 1%;
}

.main-nav {
  margin-bottom: 2em;
}

.card-deck-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  background-color: dimgray;
}

.retailer-dropdown {
  padding-right: 1em;
}